{% extends 'base_no_left.html' %}
{% block title %}Мои сообщения - API для отправки сообщений{% endblock %}
{% block body %}
<div class="container">
	<h1>API для встраивания в приложения (веб-сайт)</h1>

	<p>Для встраивания в код своего сайта (приложения) вызова отправки сообщения, Вам необходимо добавить код отправки HTTP-запроса на сервер сервиса сообщений.</p>
	<p><strong>Пример на HTTP</strong></p>
	<div class="panel panel-default">
	  <div class="panel-body">
		<p>http://ms.100imho.ru/api/send/?guid=jjxkc6fv1zud3fucb35q&amp;from=test&amp;priority=1&amp;text=test%20message</p>
	  </div>
	</div>


	<p>Ниже представлены примеры добавления вызовов на языках PHP и Python, а так же для вызова из командной строки при помощи curl.</p>
	<div>

	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#php" aria-controls="php" role="tab" data-toggle="tab">PHP</a></li>
		<li role="presentation"><a href="#python" aria-controls="python" role="tab" data-toggle="tab">Python</a></li>
		<li role="presentation"><a href="#curl" aria-controls="curl" role="tab" data-toggle="tab">Curl</a></li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="php">
			<h2>Встравивание в приложение на языке PHP</h2>
			<div class="panel panel-default">
				<div class="panel-body">
					<p>
						$body=file_get_contents("http://ms.100imho.ru/api/send/?guid=jjxkc6fv1zud3fucb35q&amp;from=test&amp;priority=1&amp;text=".urlencode(iconv("windows-1251","utf-8","Привет!")));
					</p>
				</div>
			</div>
			
		</div>
		<div role="tabpanel" class="tab-pane" id="python">
			<h2>Встравивание в приложение на языке Python</h2>
			<p>Скачайте файл <a href="/static/api/send_signal.py">send_signal.py</a>, положите его в директорию своего сайта<p>
			<p>В строке</p>
			<div class="panel panel-default">
				<div class="panel-body">
					<p>def send_signal(text,priority,mfrom='test',guid='jjxkc6fv1zud3fucb35q'):</p>
				</div>
			</div>
			<p>замените значение переменных mfrom и guid на свои значения.</p>
			<p>Подключите его к проекту и выполняйте функцию send_signal:</p>
			<div class="panel panel-default">
				<div class="panel-body">
					<p>
						from send_signal import send_signal
					</p>
					<p>
						send_signal(u"моё тестовое сообщение",0)
					</p>
				</div>
			</div>
			
		</div>
		<div role="tabpanel" class="tab-pane" id="curl">
			<h2>Пример на curl для командной строки (UTF-8)</h2>
			<div class="panel panel-default">
				<div class="panel-body">
					<p>curl http://ms.100imho.ru/api/send/\?guid=jjxkc6fv1zud3fucb35q\&amp;from=test\&amp;priority=1\&amp;text=test%20message</p>
				</div>
			</div>
		</div>
	  </div>

	</div>
	
	<h3>API для просмотра принятых сообщений</h3>
	API позволяет реализовать свой интерфейс просмотра полученных сообщений. В результате выполнения HTTP-запроса Вы получите ответ в формате JSON.
	<h4>Получение списка отправителей</h4>
	<p>HTTP-запрос:</p>
	<div class="panel panel-default">
		<div class="panel-body">
			<p>http://ms.100imho.ru/api/froms/?u=имя_пользователя&amp;p=пароль</p>
		</div>
	</div>

	<h4>Получение всех сообщений конкретного отправителя</h4>
	<p>HTTP-запрос:</p>
	<div class="panel panel-default">
		<div class="panel-body">
			<p>http://ms.100imho.ru/api/messages/?u=имя_пользователя&amp;p=пароль&amp;from=отправитель</p>
		</div>
	</div>	
</div>
{% endblock %}
