{% extends 'base.html' %}
        
{% block body %}
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Отправка сообщений с ваших сайтов, сервисов, программ</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-cog fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">API</div>
                                    <div>Удобное API для встраивания</div>
                                </div>
                            </div>
                        </div>
                        <a href="/api.html">
                            <div class="panel-footer">
                                <span class="pull-left">Подробнее</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">2048&nbsp;букв</div>
                                    <div>Ограничение длины сообщения</div>
                                </div>
                            </div>
                        </div>
                        <a href="/messages.html">
                            <div class="panel-footer">
                                <span class="pull-left">Подробнее</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-bookmark fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">Web</div>
                                    <div>Web-интерфейс просмотра</div>
                                </div>
                            </div>
                        </div>
                        <a href="/webview.html">
                            <div class="panel-footer">
                                <span class="pull-left">Подробнее</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.row -->
			<p>
			<div class="panel">
				<div class="panel-body" style="font-size: 120%">
					<p>Уведомления на собственном ресурсе играют очень большую роль, они помогут вам оставаться в курсе событий происходящих на вашем сайте. </p>
					<p>mysignals.ru - сервис, с помощью которого можно отправлять сообщения с ваших сайтов.</p>
					<p>К примеру, администраторы смогут получать оперативные сообщения об изменениях на сайте. Пользователи смогут писать об обнаруженных ошибках или оставлять пожелания по работе вашего ресурса. При этом вам нет необходимости использовать таблицы своей базы данных и писать к ней интерфейс.</p>
					<p>Преимущества оповещений с сайта перед смс на телефон:</p>
					<p>1. Бесплатность - вы можете отправлять до ста сообщений в сутки без всякой оплаты;</p>
					<p>2. Возможность отправки большого объема сообщения, куда можно вставлять любую текстовую информацию (ссылки, отладочную информацию и другое);</p>
					<p>3. Сообщения хранятся на сервере и всегда доступны через интернет.</p>
				</div>
			</div>
			</p>
            <div class="row">
                <div class="col-lg-12">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-clock-o fa-fw"></i> Алгоритм работы
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <ul class="timeline">
                                <li>
                                    <div class="timeline-badge"><i class="fa fa-user"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Регистрируетесь на сайте</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Для <a href="/register/">регистрации</a> укажите свои имя пользователя, пароль и e-mail (для восстановления пароля)</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="timeline-inverted">
                                    <div class="timeline-badge warning"><i class="fa fa-save"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Получаете GUID </h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>GUID представляет собой набор случайных букв и цифр. Он нужен для идентификации Вас сервисом при отправке сообщения с Вашего сайта или программы</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-badge danger"><i class="fa fa-cogs"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Встраиваете API в своё приложение</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>Добавляете в своё приложение (веб-сайт) код отправки сообщения на сервис сообщений</p>
                                        </div>
                                    </div>
                                </li>

                                <li class="timeline-inverted">
                                    <div class="timeline-badge info"><i class="fa fa-check"></i>
                                    </div>
                                    <div class="timeline-panel">
                                        <div class="timeline-heading">
                                            <h4 class="timeline-title">Просматриваете полученные сообщения</h4>
                                        </div>
                                        <div class="timeline-body">
                                            <p>После <a href="/login/">авторизации</a> на сайте Вы можете просматривать отправленные сообщения с возможностью фильтрации и поиска</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
{% endblock %}
