{% extends 'base.html' %}
        
{% block body %}
<br/>
<div class="row hidden-xs">
	<div class="col-lg-3">
		<span class="page-body">Ваш GUID: <p><b>{{user.userprofile.guid}}</b></p></span>
	</div>
	<div class="col-lg-9">
		<span class="page-body">Пример сообщения: 
			<p><a target="_blank" href="http://ms.100imho.ru/api/send/?guid={{user.userprofile.guid}}&from=test&priority=1&text=test%20message">http://ms.100imho.ru/api/send/?guid={{user.userprofile.guid}}&from=test&priority=1&text=test%20message</a></p>
		</span>
	</div>
	
</div>
<!-- /.row -->

<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Сообщений за последние сутки</h1>
	</div>
	<!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-comments fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{total_count}}</div>
						<div>Всего</div>
					</div>
				</div>
			</div>
			<a href="/filter/">
				<div class="panel-footer">
					<span class="pull-left">Смотреть</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-green">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-info-circle fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{total0_count}}</div>
						<div>Информационных</div>
					</div>
				</div>
			</div>
			<a href="/filter/?priority=0">
				<div class="panel-footer">
					<span class="pull-left">Смотреть</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-yellow">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-warning fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{total1_count}}</div>
						<div>Важных</div>
					</div>
				</div>
			</div>
			<a href="/filter/?priority=1">
				<div class="panel-footer">
					<span class="pull-left">Смотреть</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
	<div class="col-lg-3 col-md-6">
		<div class="panel panel-red">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-exclamation-circle fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div class="huge">{{total2_count}}</div>
						<div>Критических</div>
					</div>
				</div>
			</div>
			<a href="/filter/?priority=2">
				<div class="panel-footer">
					<span class="pull-left">Смотреть</span>
					<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
					<div class="clearfix"></div>
				</div>
			</a>
		</div>
	</div>
</div>
<!-- /.row -->


<div class="panel panel-default">
	<div class="panel-heading">Последние сообщения</div>
	<div class="panel-body">
		<table class="table">
			<tr>
				<th>н/п</th>
				<th>Дата</th>
				<th>От кого</th>							
				<th>Сообщение</th>
				<th></th>
			</tr>
			{% for d in last_messages %}
			<tr class="{{d.get_priority_class}}">
				<td>{{forloop.counter}}. </td>
				<td>{{d.dt_add|date:"d.m.Y H:i"}}</td>
				<td>{{d.mfrom}}</td>							
				<td>{{d.text|urlize}}</td>
				<td><a class="btn btn-danger btn-xs remove_message" href="{% url 'remove_message' d.id %}">удалить</a></td>
			</tr>
			{% endfor %}
		</table>
		<!--button class="btn btn-info btn-lg btn-block">Показать ещё сообщения</button-->
	</div>
</div>


{% endblock %}
