{% extends 'base_no_left.html' %}
{% block title %}Мои сообщения - просмотр полученных сообщений{% endblock %}
{% block body %}
<div class="container">
	<h1>Просмотр полученных сообщений</h1>
	<p>Заходя на сайт Вы можете управлять полученными сообщениями</p>
	<p>Вы можете просматривать сообщения фильтруя их по важности, по дате получения, по источнику сообщения.</p>	
	<p>Также возможен поиск по содержимому полученных сообщений.</p>	
</div>
{% endblock %}
